<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome!</title>
  </head>
  <body>
    {% if loggedin == true %}
    <h1>Welcome {{session['username']}}!</h1>
    <a href={{ url_for('account', userid = session["userid"]) }}>Account</a><br>
    <br>
    <a href={{ url_for('logout') }}>Log out</a>
    {% else %}
        <h1>Welcome!</h1>
        <a href={{ url_for('register') }}>Register</a>
        <br><br>
        <a href={{ url_for('login') }}>Login</a>
    {% endif %}

  </body>
</html>
