<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
  </head>
  <body>
    {% if user_true == true %}
        <h1>USER {{username}} CREATED!</h1>
    {% else %}
        <h1>Please register</h1>
    {% endif %}
    {{message}}
    <div class="form-group">
      <form method="post" action="/register">
        Enter username: <input name="username" type="text" class="form-control" ><br><br>
        Enter password: <input name="password" type="password" class="form-control" ><br><br><br>
        <input name="register" type="submit" value="Submit"><br><br>
      </form>
    </div>
    <a href="{{ url_for('index') }}">Back</a>
  </body>
</html>
